*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #7fffd4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
header {
    background-color: #ffffff;
}

header .container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo-title {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 2rem;
}

header img {
    width: 80px;
}

.controls label {
    margin-right: 8px;
}

#level-selector {
    margin-right: 15px;
    padding: 3px 20px;
    border-radius: 8px;
}

header button {
    margin-right: 20px;
    padding: 3px 20px;
    border-radius: 8px;
}


/* main */
.start-title,
.level-notice {
    text-align: center;
    margin-top: 250px;
}

.table {
    width: 500px;
    height: 500px;
    margin: 43px auto;
    display: flex;
    flex-wrap: wrap;
}

.table:hover {
    cursor: pointer;
}

.cell {
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: #0073ff;
    color: #ffffff;
}

.cell.bomb {
    background-color: #ff0000;
    color: #ffffff;
}

.end-game-panel {
    width: 500px;
    height: 300px;
    position: fixed;
    z-index: 10;
    left: calc(50% - 250px);
    top: calc(50% - 150px);
    background-color: rgba(255, 255, 255, .8);
    border-radius: 20px;
    border: 4px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.game-over-text {
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;
    color: #ff0000;
}

.end-game-score-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.3rem;
}

.end-game-score-text .score {
    font-size: 1.4rem;
    font-family: 'Orbitron', sans-serif;
}


/* footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 15px;
}

/* general */
.hidden {
    display: none;
}